@import './style.css';
@import './variables.scss';

body {
  font-family: "Comic Sans MS", cursive, sans-serif;
  background-color: $light-grey;
  
  h2 {
    color: $orange;
  }

	h1 {
    color: $dark-blue;
    text-align: center;
  }

	.toolbar {
		display: flex;
		flex-direction: row;
		justify-content: center;
  }
}
