/* COLOURS */
$light-grey: #D9E1E8;
$dark-blue: #294B73;
$blue: #40609B;
$orange: #B5633E;
$yellow: #FBC409;

$mobile-width: 500px;
$tablet-width: 768px;
$desktop-width: 1024px;

@mixin mobile {
  @media (min-width: #{$mobile-width}) and (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin panel {
  border-radius: 1rem 1rem 1rem 1rem;
  margin-left: 10px;
  margin-right: 10px;
  background-color: $yellow;
}